@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-main: 'Inter', sans-serif;
    --font-heading: 'Manrope', sans-serif;
}

body {
    font-family: var(--font-main);
    @apply bg-[#0a0a0c] text-white antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

.glass-panel {
    @apply bg-white/5 backdrop-blur-xl border border-white/10 rounded-2xl;
}

.gradient-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-indigo-500 to-purple-500;
}