framework:
    secret: S0ME_SECRET
    session:
        enabled: true
        handler_id: null
        cookie_secure: auto
        cookie_samesite: lax
        storage_factory_id: session.storage.factory.native
    http_method_override: false
    handle_all_throwables: true
    php_errors:
        log: true
    profiler:
        enabled: true
        only_exceptions: false
