@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: #135bec;
        /* Logo Blue */
        --color-primary-hover: #1e62f1;

        --color-sidebar-icon: #135bec;

        --color-background-main: #ffffff;
        --color-background-light: #f3f3f3;
        --color-background-dark: #e8e8e8;

        --color-sidebar-slim: #ffffff;
        /* Activity Bar Light */
        --color-sidebar-wide: #ffffff;

        --color-card-bg: #ffffff;
        --color-border-light: #e7e7e7;

        --color-text-main: #333333;
        --color-text-secondary: #616161;
        --color-text-muted: #717171;
    }

    .dark {
        --color-primary: #3b82f6;
        --color-primary-hover: #60a5fa;

        --color-sidebar-icon: #cccccc;

        --color-background-main: #1e1e1e;
        /* VS Code Default Dark */
        --color-background-light: #252526;
        --color-background-dark: #000000;

        --color-sidebar-slim: #333333;
        /* Activity Bar */
        --color-sidebar-wide: #252526;

        --color-card-bg: #252526;
        --color-border-light: #3c3c3c;

        --color-text-main: #cccccc;
        --color-text-secondary: #858585;
        --color-text-muted: #666666;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: 'Inter', sans-serif;
        background-color: var(--color-background-main);
        color: var(--color-text-main);
    }

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: var(--color-background-main);
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-border-light);
        border-radius: 3px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: var(--color-text-muted);
    }
}