<!DOCTYPE html>
<html>
<head>
    <title>MTA-APP Dashboard</title>
</head>
<body>
    <h1>Hello from MTA-APP</h1>
    <p>Working without Composer (mostly) and with Symfony Kernel.</p>
</body>
</html>
